<hr>
<table border="0">
    <tr>
        <td>
            <a href="{{info.id}}" target="_blank">
                <img ng-src="{{info.poster}}" style="cursor:pointer;" alt="{{info.title}}" width="200" height="250" border="1" align="center" />
            </a>
        </td>

        <td>
            <table border="0" style="margin-left:20px;">
                <tr><td><h2><b>{{info.title}} ({{info.year}})</b></h2></td></tr>
                <tr><td>{{info.genre}}</td></tr>
                <tr><td>IMDB rating: <b>{{info.imdb_rating}}</b></td></tr>
                <tr><td>Starring: <i>{{info.actors}}</i></td></tr>
                <tr><td>Runtime: {{info.runtime}}</td></tr>
            </table>
        </td>

    </tr>
</table>
<hr>