 <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#!/">Home</a>
                    </li>
                    <li>
                        <a href="" ng-click="goFavourites()">Favourite Recommendation</a>
                    </li>
                    <li>
                        <a href="" ng-click="goRated()">Rated Recomendation</a>
                    </li>
                    <li>
                        <a href="" ng-click="goRegLog()">Log In / Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/movies.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Rated Movies Recommendation</h1>
                        <hr class="small">
                        <span class="subheading">Discover new movies by rating movies</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


<!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Rate given 5 movies with rates 0 to 10 (0 if not watched):</p>

                 <form method="POST" ng-submit="ratedMovies()">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <p>Movie1</p>
                            <input type="number" ng-model="movies.rate1" ng-init="movies.rate1=0" min="0" max="10" class="form-control" placeholder="Rate" id="rate" required data-validation-required-message="Please rate at least 1 favourite movie.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <p>Movie2</p>
                            <input type="number" ng-model="movies.rate2" ng-init="movies.rate2=0" min="0" max="10"  class="form-control" placeholder="Rate" id="rate">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <p>Movie3</p>
                            <input type="number" ng-model="movies.rate3" ng-init="movies.rate3=0" min="0" max="10" class="form-control" placeholder="Rate" id="rate" >
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <p>Movie4</p>
                            <input type="number" ng-model="movies.rate4" ng-init="movies.rate4=0" min="0" max="10" class="form-control" placeholder="Rate" id="rate" >
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <p>Movie5</p>
                            <input type="number" ng-model="movies.rate5" ng-init="movies.rate5=0" min="0" max="10" class="form-control" placeholder="Rate" id="rate" >
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Get Recommendations</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>